body {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

#grid-container {
  display: flex;
  justify-content: center;
}

.container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.hover {
 background-color: antiquewhite;
}
